:root {
--color-1: #984177;
--color-2: #FFB0B0;
--color-3: #FFBBBB;
--color-4: #1e3e4f;
--color-5: #0C2D57;

}
body {
    color: var(--color-4);
    background-color: var(--color-2);
}
hr{
    border-width: 4px;
    border-color: #FFBBBB
}
h1{
    font-family: "dancing script", cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
h3{
    font-family: "Viaoda Libre", serif;
}
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
#center {
    color: rgb(134, 65, 134);
    text-align: center;
  }
  .nice {
    color: var(--color-5);
    font-weight: bold;
    font-family: "fantasy", cursive;
    font-size: larger; 
  }