:root {
--color-1: #984177;
--color-2: #FFB0B0;
--color-3: #FFBBBB;
--color-4: #1e3e4f;
--color-5: #0C2D57;
--color-6: #c27489;
--color-7: rgb(146, 95, 114);
--color-8:rgb(117, 21, 21);
}
body {
    color: var(--color-5);
    background-color: var(--color-2);
}
hr{
    border-width: 4px;
    border-color: #fbcece
}
h1{
    font-family: "dancing script", cursive;
    
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
h3{
    font-family: "Viaoda Libre", serif;
}
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
  .center {
    color: rgb(117, 21, 21);
    text-align: center;
  }
  .nice {
    color: var(--color-5);
    font-weight: bold;
    font-family: "fantasy", cursive;
    font-size: larger; 
  }
  nav{
    background-color: var(--color-2);
    text-align: right;
 
  }
  nav a{
    color: var(--color-8);
    text-decoration: none;
    padding:16px;
    display: inline-block;
    
  }
  nav a:hover {
background-color: var(--color-6);
color:aliceblue
  }

  img {
    color: rgb(117, 21, 21)
  }