:root {
--color-1: #EFECEC;
--color-2: #FFB0B0;
--color-3: #FFBBBB;
--color-4: #0C2D57;
}
body {
    color: var(--color-4);
    background-color: var(--color-2);
}
hr{
    border-width: 4px;
    border-color: #FFBBBB
}
h1{
    font-family: "dancing script", cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
h3{
    font-family: "Viaoda Libre", serif;
}
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');